.navbar {
  color: #fff;
  font-size: 14px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;

  &.scrolled {
    background-color: var(--main-color);
    transition: ease 0.5s;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 70px;

    .left {
      display: flex;
      align-items: center;
      img {
        height: 25px;
        margin-right: 40px;
      }
      a {
        text-decoration: none;
        color: #fff;

        span {
          margin-right: 20px;
          cursor: pointer;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      .icon {
        margin: 0px 15px;
        cursor: pointer;
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }
      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
        }
        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
            span {
              cursor: pointer;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
